<!DOCTYPE html>
<html>
<head>
  <title>Posting List</title>
</head>
<body>
<h1>Posting List</h1>
<ul>
  <!-- Generate links for Posting 1 to 18 -->
  <li><a href="/posting/1">Posting 1</a></li>
  <li><a href="/posting/2">Posting 2</a></li>
  <li><a href="/posting/3">Posting 3</a></li>
  <li><a href="/posting/4">Posting 4</a></li>
  <li><a href="/posting/5">Posting 5</a></li>
  <li><a href="/posting/6">Posting 6</a></li>
  <li><a href="/posting/7">Posting 7</a></li>
  <li><a href="/posting/8">Posting 8</a></li>
  <li><a href="/posting/9">Posting 9</a></li>
  <li><a href="/posting/10">Posting 10</a></li>
  <li><a href="/posting/11">Posting 11</a></li>
  <li><a href="/posting/12">Posting 12</a></li>
  <li><a href="/posting/13">Posting 13</a></li>
  <li><a href="/posting/14">Posting 14</a></li>
  <li><a href="/posting/15">Posting 15</a></li>
  <li><a href="/posting/16">Posting 16</a></li>
  <li><a href="/posting/17">Posting 17</a></li>
  <li><a href="/posting/18">Posting 18</a></li>
</ul>
</body>
</html>
