<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>검색 결과</title>
</head>
<body>
<h1>검색 결과</h1>

<p th:if="${message}">검색 결과: <span th:text="${message}"></span></p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>회사명</th>
        <th>국가</th>
        <th>지역</th>
        <th>직책</th>
        <th>급여</th>
        <th>기술</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postinglist}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.companyName}"></td>
        <td th:text="${post.country}"></td>
        <td th:text="${post.region}"></td>
        <td th:text="${post.position}"></td>
        <td th:text="${post.pay}"></td>
        <td th:text="${post.technology}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
